

img
{
    width: 100%;
    object-fit: cover;
}
  
  .swiper {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
  }

  #scrolling::-webkit-scrollbar
  {
    width: 4px;
  }
  #scrolling::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  #scrolling::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #scrolling::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @media (max-width:450px) {
    #flexcols
    {
      display: flex;
      flex-wrap: wrap;
    }
  }